@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@fontsource/inter/400.css";   /* regular */
@import "@fontsource/inter/500.css";   /* medium */
@import "@fontsource/syne/500.css";    /* medium headings */
@import "@fontsource/syne/600.css";    /* semibold headings */
@import "@fontsource/syne/700.css";    /* bold headings */

@theme {
  --font-body: "Urbanist", sans-serif;
  --font-heading: "Syne", sans-serif;
  --color-gradient: linear-gradient(
    90deg,
    #FF4D6D 0%,
    #BD3EB2 25%,
    #7B2FF7 50%,
    #2F86F7 75%,
    #2FF7ED 100%
  );
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::selection{
  background: #9b9a9ad5;
  color: #ffffff;
}
::-webkit-scrollbar{
      width: 9px;
  background-color: hsla(0, 0%, 20%);
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: hsla(0, 0%, 30%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: #9b9a9ad5;
}
@layer base {

  body {
    @apply bg-black text-white antialiased font-body text-xl overflow-x-clip;
  }

  h3 {
    @apply font-medium uppercase text-2xl
  }

}

@layer components {

  .main-container {
    @apply w-full max-w-[1600px] m-auto px-4 lg:px-12;
  }

  h1 {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 12px;
      width: 99%;
      height: clamp(2px, 1vh, 12px);
      background: var(--color-gradient);
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 99%;
      height: 2px;
      background: var(--color-gradient);
      z-index: -1;
    }
  }

  .text-stroke {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

    .text-stroke-black {
    -webkit-text-stroke: 1px black;
    color: transparent;
  }

  .btn {
    background: linear-gradient(#000, #000) padding-box,
        var(--color-gradient) border-box;
  }

  .btn:hover {
    background: var(--color-gradient) padding-box,
        var(--color-gradient) border-box;
    color: #fff;
  }

  .btn-light {
    background: linear-gradient(#fff, #fff) padding-box,
        var(--color-gradient) border-box;
    color: black;
  }

  @keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .animate-marquee-reverse{
    animation: marquee 15s linear infinite reverse;
  }

  @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .marquee-star1 {
    animation: rotate360 10s linear infinite;
    transform-origin: center;
  }

  .marquee-star2 {
    animation: rotate360 10s linear infinite reverse;
    transform-origin: center;
  }

  .menu-link {
    @apply text-[10vw] lg:text-[6vw]  font-bold  lg:opacity-60 hover:opacity-100 ;
  }

}

@media (max-width: 1023px) {

  h1::before {
    bottom: 4px;
  }
  
}
.glass-effect {
  background: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.text-gradient {
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* في ملف CSS global */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* CSS */
.button-85 {
  padding:0.4em 3em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 40px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #7B2FF7,
    #FF4D6D,
    #BD3EB2,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 40px;
}
.hero-image {
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;

  mask-image: linear-gradient(
    to left,
    rgba(0,0,0,1) 65%,
    rgba(0,0,0,0.4) 85%,
    rgba(0,0,0,0) 100%
  );

  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0,0,0,1) 65%,
    rgba(0,0,0,0.4) 85%,
    rgba(0,0,0,0) 100%
  );

  filter: grayscale(60%) contrast(1.2) brightness(0.98);
  transform: scale(1.05);
}

.hero-image-wrapper::before {
  content: "";
  position: absolute;
  inset: -15%;
  background: radial-gradient(
    circle at 60% 40%,
    rgba(255,0,200,0.25),
    rgba(146,90,236,0.25),
    transparent 65%
  );
  filter: blur(100px);
  z-index: 0;
}

.hero-glow {
  position: absolute;
  inset: -25%;
  background: radial-gradient(
    circle at 70% 45%,
    rgba(123,47,247,0.35),
    rgba(146,90,236,0.25),
    transparent 65%
  );
  filter: blur(120px);
  z-index: 0;
  opacity: 0.5;
}



@media (max-width: 768px) {
  .hero-image-wrapper {
    width: 100%;
    height: 100vh;
  }

  .hero-image {
    background-position: center;
    mask-image: linear-gradient(
      to left,
      rgba(0,0,0,1) 60%,
      rgba(0,0,0,0) 100%
    );
    height: 50vh;
  }
}
